version: 2.1
orbs:
  browser-tools: circleci/browser-tools@2.4.0

jobs:
  test:
    docker:
      - image: cimg/openjdk:17.0-browsers # Includes Java and preinstalled browsers
    steps:
      - checkout
      - browser-tools/install_browser_tools  # Installs ChromeDriver and GeckoDriver
      - run:
          name: Verificar versiones instaladas
          command: |
            java -version
            google-chrome --version
            chromedriver --version
            firefox --version
            geckodriver --version
            whois chromedriver
            whois geckodriver
      - run:
          name: Run Selenium TestNG Tests and send email
          command: |
            chmod +x run.sh
            ./run.sh
      - store_test_results:
          path: target/surefire-reports # To visualize in the CircleCI dashboard

workflows:
  version: 2
  build_and_test:
    jobs:
      - test